---
---

@import "{{ site.theme }}";

/* OVERRIDE DEFAULT BLUE */
a {
  color: #153a5b;
}

a:visited {
  color: #153a5b;
}

a:hover {
  color: #0f2841;
}

/* FONT OVERRIDES */

/* 1. Change the Main Title */
header h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; 
  letter-spacing: -0.5px; 
  text-transform: uppercase; 
}

/* 2. Change the Body Text */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
