---
---

@import "{{ site.theme }}";

/* Current choice: Slate Blue */
a {
  color: #4a6fa5;
}

a:visited {
  color: #4a6fa5;
}

a:hover {
  color: #153a5b; /* Slightly darker on hover */
}

/* Update header font slightly */
h1, h2, h3, h4, h5, h6 {
  color: #222; /* Soft black*/
}
